@use "sass:color";

// Default
$background-color: #fff;
$color: #000;

$code-background-color: rgb(70, 70, 70);
$code-color: #cfcfcf;
$code-font: monospace;

$accent: rgb(157, 157, 157);
$highlight: color.change($accent, $alpha: 0.2);
$seperator: $highlight;
$selected: $highlight;

// Dark mode
$dark-background-color: #1b1b1b;
$dark-color: #fff;

$dark-code-background-color: rgb(183, 183, 183);
$dark-code-color: #1a1a1a;
$dark-code-font: monospace;

$dark-accent: rgb(230, 230, 230);
$dark-highlight: color.change($accent, $alpha: 0.2);
$dark-seperator: $highlight;
$dark-selected: $highlight;

:root {
  --rew-background-color: #{$background-color};
  --rew-color: #{$color};

  --rew-inline-code-background-color: #{$code-background-color};
  --rew-inline-code-color: #{$code-color};
  --rew-inline-code-font: #{$code-font};

  --rew-code-background-color: #{$code-background-color};
  --rew-code-color: #{$code-color};
  --rew-code-font: #{$code-font};

  --rew-accent: #{$accent};
  --rew-seperator: #{$seperator};
  --rew-highlight: #{$highlight};

  --rew-selected: #{$selected};
}

@media (prefers-color-scheme: dark) {
  :root {
    --rew-background-color: #{$dark-background-color};
    --rew-color: #{$dark-color};

    --rew-inline-code-background-color: #{$dark-code-background-color};
    --rew-inline-code-color: #{$dark-code-color};
    --rew-inline-code-font: #{$dark-code-font};

    --rew-code-background-color: #{$dark-code-background-color};
    --rew-code-color: #{$dark-code-color};
    --rew-code-font: #{$dark-code-font};

    --rew-accent: #{$dark-accent};
    --rew-seperator: #{$dark-seperator};
    --rew-highlight: #{$dark-highlight};

    --rew-selected: #{$dark-selected};
  }
}

.container {
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 2px solid var(--rew-accent);
  background-color: var(--rew-background-color);
  color: var(--rew-color);
}

.menu {
  display: flex;
  // height: 2.5rem;
  padding: 0.25rem;
  border-bottom: 2px solid var(--rew-accent);
  align-items: center;

  div {
    display: flex;
    &:not(:first-child) {
      margin-left: 1rem;
    }

    button {
      border-style: none;
      box-shadow: none;
      -webkit-appearance: none;
      display: inline-block;
      background: none;
      color: var(--rew-color);
      font-size: 110%;

      aspect-ratio: 1/1;
      height: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:first-child) {
        border-left: 1px solid var(--rew-seperator);
      }

      &.active {
        background-color: var(--rew-selected);
      }
    }

    &:empty {
      display: none;
    }
  }
}

.wrapper {
  :global .ProseMirror {
    &:focus {
      outline: none;
    }
    padding: 1rem;

    > * + * {
      margin-top: 0.75em;
    }
    ul,
    ol {
      padding: 0 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
    }

    code {
      background-color: var(--rew-code-background-color);
      color: var(--rew-code-color);
    }

    pre {
      background: var(--rew-code-background-color);
      color: var(--rew-code-color);
      font-family: var(--rew-code-font);
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;

      code {
        font-family: inherit;
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }

    blockquote {
      padding-left: 1rem;
      border-left: 2px solid var(--rew-highlight);
    }

    hr {
      border: none;
      border-top: 2px solid var(--rew-color);
      margin: 2rem 0;
    }
  }
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
